*.png filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
/data/executables/Autodesk_Meshmixer_v3p5_Win64.exe filter=lfs diff=lfs merge=lfs -text
/data/executables/CHITUBOX_Pro_WIN64_Installer_V1.2.0.exe filter=lfs diff=lfs merge=lfs -text
/data/executables/LycheeSlicer-3.7.1.exe filter=lfs diff=lfs merge=lfs -text
/data/executables/Ultimaker-Cura-5.1.1-win64.exe filter=lfs diff=lfs merge=lfs -text
/data/executables/setupRepetierHost_2_2_4.exe filter=lfs diff=lfs merge=lfs -text
